---
import Layout from '../layouts/Layout.astro';

import SectionContainer from '../components/SectionContainer.astro';
import ExperienceSection from '../components/ExperienceSection.astro';
import ProjectsSection from '../components/ProjectsSection.astro';
import AboutMeSection from '../components/AboutMeSection.astro';
import HomeSection from '../components/HomeSection.astro';

---

<Layout title="Jaime Mamani Navarro | Frontend Developer">
	<main class="flex flex-col gap-32">
		<SectionContainer id="home">
			<HomeSection/>
		</SectionContainer>
		<SectionContainer id="experience">
			<ExperienceSection></ExperienceSection>
		</SectionContainer>
		<SectionContainer id="projects">
			<ProjectsSection></ProjectsSection>
		</SectionContainer>
		<SectionContainer id="about">
			<AboutMeSection></AboutMeSection>
		</SectionContainer>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	

</style>
