<nav
  class="fixed top-0 w-full h-auto bg-[#1A202C] flex justify-between  py-5 px-12 z-30 border-b border-[#00BD95]"
>
  <h3 class="text-xl font-bold text-[#fff]">{'< Jaime />'}</h3>
  <div class="flex gap-6">


  <a
    class="text-xl font-bold transition ease hover:scale-110 hover:text-[#00BD95] duration-300"
    href="#home"
  >
    Home
  </a>
  <a
    class="text-xl font-bold transition ease hover:scale-110 hover:text-[#00BD95] duration-300"
    href="#experience"
  >
    Experience
  </a>
  <a
    class="text-xl font-bold transform ease hover:scale-110 hover:text-[#00BD95] duration-300"
    href="#projects">Projects</a
  >
  <a
    class="text-xl font-bold transform ease hover:scale-110 hover:text-[#00BD95] transition duration-300"
    href="#about">About</a
  >
</div>

</nav>
