---
const { class: className, id } = Astro.props
---

<section
  id={id}
  data-section={id}
  class={`section ${className} scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl flex justify-center items-center`}
>
  <slot />
</section>
<!-- <nav class="fixed top-0 w-full h-auto flex bg-gradient-to-r from-orange-400 to-red-600 justify-center gap-6 py-6 z-50"> -->
